! #########################################
!
!    Config
!
urxvt256c*background:                   #1F1F1F
urxvt256c*foreground:                    #25cb4e
urxvt256c*fading:                            0
urxvt256c*tintColor:                        #000000
urxvt256c*shading:                         0
urxvt257c*inheritPixmap:                false
urxvt256c*scrollBar:                        false
urxvt256c*title:                               urxvt
urxvt256c*termName:                  rxvt-unicode
urxvt256c*scrollTtyKeypress:          true
urxvt256c*scrollTtyOutput:             false
urxvt256c*scrollWithBuffer:            true
urxvt256c*perl-lib:                          /usr/lib/urxvt/perl
urxvt256c*perl-ext-common:          default,matcher,selection-pastebin
urxvt256c*urlLauncher:                  firefox
urxvt256c*matcher.button:            1
urxvt256c*scrollstyle:                    plain
urxvt256c*secondaryScroll:           true
urxvt256c*cutchars: "`\"()'*<>[]{|}"
!urxvt256c*font: xft:PragmataPro for Powerline:style=Regular:antialias=true:pixelsize=13:hinting=true
!urxvt256c*font: xft:PragmataPro Nerd Font:style=Book:antialias=true:pixelsize=13:hinting=true,xft:DejaVuSansMono Nerd Font:style=Book
urxvt256c*font: xft:DejaVuSansMono Nerd Font:style=Book:pixelsize=13
!urxvt256c*iconName:                   rxvt-unicode
!urxvt256c.utf8: 1
!urxvt256c.iso14755: false
!urxvt256c.iso14755_52: false
!urxvt256c.letterSpace: 2
urxvt*background:                   #1F1F1F
urxvt*foreground:                    #25cb4e
urxvt*fading:                            0
urxvt*tintColor:                        #000000
urxvt*shading:                         0
urxvt*inheritPixmap:                false
urxvt*scrollBar:                        false
urxvt*title:                               urxvt
urxvt*termName:                  rxvt-unicode
urxvt*scrollTtyKeypress:          true
urxvt*scrollTtyOutput:             false
urxvt*scrollWithBuffer:            true
urxvt*perl-lib:                          /usr/lib/urxvt/perl
urxvt*perl-ext-common:          default,matcher,selection-pastebin
urxvt*urlLauncher:                  firefox
urxvt*matcher.button:            1
urxvt*scrollstyle:                    plain
urxvt*secondaryScroll:           true
urxvt*cutchars: "`\"()'*<>[]{|}"
!urxvt*font: xft:PragmataPro for Powerline:style=Regular:antialias=true:pixelsize=13:hinting=true
!urxvt*font: xft:PragmataPro Nerd Font:style=Book:antialias=true:pixelsize=13:hinting=true,xft:DejaVuSansMono Nerd Font:style=Book
urxvt*font: xft:DejaVuSansMono Nerd Font:style=Book
urxvt*iconName:                   rxvt-unicode
urxvt.utf8: 1
urxvt.iso14755: false
urxvt.iso14755_52: false
!urxvt.letterSpace: 1
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! #########################################
!
!    Keybinds
!
urxvt.keysym.C-C: perl:clipboard:copy
urxvt.keysym.C-V: perl:clipboard:paste
urxvt.keysym.C-A-V: perl:clipboard:paste_escaped

! #########################################
!
!    Colors
!
! Black
*color0:      #131212
*color8:      #474747
! Red
*color1:      #b30000
*color9:      #800000
! Green
*color2:      #299E1B
*color10:     #77E768
! Yellow
*color3:      #96833F
*color11:     #D0B249
! Blue
*color4:      #2467AD
*color12:     #6B90EE
! Purple
*color5:      #655272
*color13:     #9F75BA
! Cyan
*color6:      #92B19E
*color14:     #A1CDCD
! White
*color7:      #FFFFFF
*color15:     #97927C
